{% extends "base.html" %}

{% block content %}

    {% if user and user.secret_num %}
        <form method="post" action="/result">
            <p>What is the secret number between 1 and 30?</p>
            Guess:
            <input type="number" name="guess" placeholder="Enter your guess">
            <button type="submit" value="Submit">Submit</button>
        </form>

    {% else %}
        <form method="post" action="/login">
            Name:
            <input type="text" name="user-name" placeholder="Enter your name">
            <br>
            Email:
            <input tyle="email" name="user-email" placeholder="Enter your email">
            <button type="submit" value="Submit">Submit</button>
        </form>
    {% endif %}

{% endblock content %}